page-ayuda {
    .logo {
        width: 50%;
        height: 50vw;
        margin-left: 10%;
    }
   /* .texto {
        //font-family: 'Times New Roman', Times, serif;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }*/
    .color{
        background-color: blue;
    }
}
