page-detalles-clientes {
    .calendario {
        font-size: 32px;
        color:white;
    }

    .s {
        font-size: 30px;
        color:#32db64;
    }

    .ss {
        font-size: 30px;
        color: #3171e0;
    }

    .sss {
        font-size: 30px;
        //color: red;
        
    }

    .borrar{
        font-size: 25px;
       // color:#5499C7 #488aff  #D4E6F1 #2980B9;
       color: #CD6155;
    }

    .edita {
        font-size: 32px;
        color:white;
        //color:#2980B9;
    }
    .bo{
        border-radius: 100%;
        background: none;
    }
    
}
