page-enviar-datos {
    
    .social {
        font-size: 40px;
        color:orange;
    }

    .socia {
        font-size: 40px;
        color: #229954;
    }

    .soc {
        font-size: 40px;
        color: #CD6155;
        
    }

    .so{
        font-size: 40px;
        color: black;
    }

    .soci{
        font-size: 25px;
         color: blue;
    }

    .buttonIngresar{
        color:white;
    }
}
