page-notas-usuario {
    .alarm {
        font-size: 15px;
        color: #239B56;
    }
    .alar {
        font-size: 15px;
        color: red;
    }

    .borrar{
      
        font-size: 22px;
    }

    .not{
        font-size: 40px;
        color:#5499C7;
       
    }

  
}
